

<!-- c'est pour le test 
<strong>nom:{{fackedata.nom}}</strong>
<strong>prenom:{{fackedata.prenom}}</strong> -->
<div class="container btn-space">
  <div class="panel-primary">
    <h1 >liste des etudiants</h1>
    <!-- <div class="panel-heading">liste des etudiants</div>   pour test et ca ne marche pas  -->  
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>NOM</th><th>PRENOM</th><th>MAil</th><th>ADRESSE</th><th>TELPHONE</th><th>ID</th>
        </tr>
       <!-- *ng for cest la boucle for qui me permet dobtenir tout les elements  -->
        <tr *ngFor="let etud of pagelistEtudiant">
            <td >{{etud.nom}}</td>
            <td >{{etud.prenom}}</td>
            <td >{{etud.mail}}</td>
            <td >{{etud.adresse}}</td>
            <td >{{etud.tel}}</td>
            <td >{{etud.id}}</td>
            <button class="delete" title="suprimer etudiant"
              (click)=deletEtud(etud)>x</button>
        </tr>
      </table>
    </div> 
  </div>

</div>



 
  








