

<div class="container">
  <button routerLink="/ajouterEtu" class="btn btn-primary btn-space ">ajouter etudiant </button>
  <button routerLink="/chercherEtu" class="btn btn-primary  btn-space">trouver etudiant par id</button>
  <button routerLink="/listeEtu" class="btn btn-primary  btn-space">liste etudiants </button>
</div>

<div class="container">
  <button routerLink="/ajouterProf" class="btn btn-primary btn-space ">ajouter professeur </button>
  <button routerLink="/chercherProf" class="btn btn-primary  btn-space">trouver professeur par id</button>
  <button routerLink="/listeProf" class="btn btn-primary  btn-space">liste professeurs </button>
</div>

<div class="container">
  <button routerLink="/modules" class="btn btn-primary btn-space ">tout les options de module </button>
  
</div>

<router-outlet></router-outlet>









