<br><br/>
<h1>chercher etudiant par id 
  <br><br/>
  <!-- <input #searchBox id="search-Box" (keyup)="rechercheEtudiant(searchBox.value)"/> -->
  <table class="table table-striped">
  <tr>
    <th>NOM</th><th>PRENOM</th><th>MAil</th><th>ADRESSE</th><th>TELPHONE</th><th>ID</th>
  </tr>
            <td >{{etudiantrecuprer?.nom}}</td>
            <td >{{etudiantrecuprer?.prenom}}</td>
            <td >{{etudiantrecuprer?.mail}}</td>
            <td >{{etudiantrecuprer?.adresse}}</td>
            <td >{{etudiantrecuprer?.tel}}</td>
            <td >{{etudiantrecuprer?.id}}</td>
            <br><br/>
            <input type="number" [(ngModel)]=id>
            <button (click)=rechercheEtudiant()>recherche</button>
          </table>
</h1>


