<h1>
  chercher Professeur par id 
  <hr>
  <input type="number" [(ngModel)]=id>
  <button (click)=rechercheProfesseur()>recherche</button>
  
  <h2>Professeur trouver es  :{{professeurRecuperer?.nom}}</h2>
  <h1>{{id}}</h1>
</h1>