<div class="container spacer">
    <div class="panel panel-primary">
      <div class="panel-heading"> <h1> Ajouter Professeur</h1></div>
      <div class="panel-body">
        <div>
      
          <div class="form-group">
            <label class="controle-label">NOM:</label>
            <input class="form-control" type="text" [(ngModel)]=proffeseurRecuperer.nom/>
          </div>
  
          <div class="form-group">
            <label class="controle-label">PRENOM:</label>
            <input class="form-control" type="text" [(ngModel)]=proffeseurRecuperer.prenom/>
          </div>
  
          <div class="form-group">
            <label class="controle-label">MAil:</label>
            <input class="form-control" type="text" [(ngModel)]=proffeseurRecuperer.mail/>
          </div>
  
          <div class="form-group">
            <label class="controle-label">ADRESSE:</label>
            <input class="form-control" type="text" [(ngModel)]=proffeseurRecuperer.adresse/>
          </div>
  
          <div class="form-group">
            <label class="controle-label">TELPHONE:</label>
            <input class="form-control" type="text" [(ngModel)]="proffeseurRecuperer.tel"/>
          </div>
  
          <button class="btn btn-primary" (click)="ajouteretudiant(proffeseurRecuperer)">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
  
  