<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading"><h1> Ajouter Module</h1></div>
    <div class="panel-body">
      <div>
        <div class="form-group">
          <label class="controle-label">Id:</label>
          <input class="form-control" type="number" [(ngModel)]=moduleRecuperer.id/>
        </div>
        <div class="form-group">
          <label class="controle-label">NOM Module:</label>
          <input class="form-control" type="text" [(ngModel)]=moduleRecuperer.nomModule/>
        </div>
        <button class="btn btn-primary" (click)="ajouterModule(moduleRecuperer)">Ajouter</button>
      </div>
    </div>
  </div>

  <br><br/>
  <strong>chercher le module par id</strong>
   <br><br/>
   
   <table class="table table-striped">
   <tr>
     <th>ID</th><th>NOM MODULE</th>
   </tr>
             <td >{{Modulerecuprer?.id}}</td>
             <td >{{Modulerecuprer?.nomModule}}</td>     
             <br><br/>
             <input type="number" [(ngModel)]=id>
             <button (click)=rechercheModule()>recherche</button>
           </table>
</div>

<div class="container btn-space">
  <div class="panel-primary">
    <h1 >liste des Modules</h1>
   
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>ID</th><th>NOM MODULE </th>
        </tr>
        <tr *ngFor="let modul of pagelistModules">
            <td >{{modul.id}}</td>
            <td >{{modul.nomModule}}</td>
            <button class="delete" title="suprimer Module"
            (click)=deletModule(modul)>x</button>
        </tr>
      </table>
    </div> 
  </div>
</div>

