<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading"><h1> Ajouter Etudiant</h1></div>
    <div class="panel-body">
      <div>
    
        <div class="form-group">
          <label class="controle-label">NOM:</label>
          <input class="form-control" type="text" [(ngModel)]=etudiantRecuperer.nom/>
        </div>

        <div class="form-group">
          <label class="controle-label">PRENOM:</label>
          <input class="form-control" type="text" [(ngModel)]=etudiantRecuperer.prenom/>
        </div>

        <div class="form-group">
          <label class="controle-label">MAil:</label>
          <input class="form-control" type="text" [(ngModel)]=etudiantRecuperer.mail/>
        </div>

        <div class="form-group">
          <label class="controle-label">ADRESSE:</label>
          <input class="form-control" type="text" [(ngModel)]=etudiantRecuperer.adresse/>
        </div>

        <div class="form-group">
          <label class="controle-label">TELPHONE:</label>
          <input class="form-control" type="text" [(ngModel)]="etudiantRecuperer.tel"/>
        </div>

        <button class="btn btn-primary" (click)="ajouteretudiant(etudiantRecuperer)">Ajouter</button>
      </div>
    </div>
  </div>
</div>

