
<div class="container btn-space">
    <div class="panel-primary">
      <h1 >liste des Professeur</h1>
      <!-- <div class="panel-heading">liste des etudiants</div>   pour test et ca ne marche pas  -->  
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <th>NOM</th><th>PRENOM professeur </th><th>MAil</th><th>ADRESSE</th><th>TELPHONE</th><th>ID</th>
          </tr>
         
         <!-- *ng for cest la boucle for qui me permet dobtenir tout les elements  -->
          <tr *ngFor="let prof of pagelistprof">
              <td >{{prof.nom}}</td>
              <td >{{prof.prenom}}</td>
              <td >{{prof.mail}}</td>
              <td >{{prof.adresse}}</td>
              <td >{{prof.tel}}</td>
              <td >{{prof.id}}</td>
              <button class="delete" title="suprimer professeur"
              (click)=deleteProf(prof)>x</button>
          </tr>
        </table>
      </div> 
    </div>
  
  </div>
  
  
  
   
    
  
  
  
  
  
  
  
  
  
